.root{
    --primary-color: #E8E8E8; /*Light gray*/
    --secondary-color: #F5F5DC; /*Beige*/
    --accent-color: #8BC34A; /*soft green*/
    --background-color: #F2F2F2; /*light gray*/
    

}
/* src/assets/css/styles.css */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; /* Adjusted to fit within the circle */
    width: 40px;     /* Width of the circle */
    height: 40px;    /* Height of the circle */
  }
  