*{
  font-family: Open Sans, sans-serif;
  box-sizing: border-box;
}
  .MainContainer {
    background-color: #fff;
    height: 100vh;
    overflow-y: scroll; 
  }

/* Navigation  */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #fff; /* light gray background */
  /* border-bottom: 1px solid #fff7cc;  */
  position: relative;
  width: 100%;
  height: 10vh;
  box-shadow: 0px 0 3px lightgray;
}


.leftNav {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: space-evenly;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #ffdd00;
  margin-right: 20px;
  text-shadow: 1px 1px #333;
}

.menuBar {
  cursor: pointer;
}

.menuBar svg {
  transition: fill 0.2s ease-in-out;
  color: #333;
}

.menuBar:hover svg {
  fill: #000;
}

.middleNav {
  display: flex;
  align-items: center;
  margin: 0 20px;
  width: 30%;
}

 .searchbar {
  display: flex;
  align-items: center;
  width: 100%;
} 

.searchbar input[type="search"] {
  width: 100%;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 16px;
  border: 0.2px solid lightgray;
}

.searchIcon {
  margin-left: 10px;
  cursor: pointer;
  color: #333;
  margin-left: -30px;
}

.searchIcon svg {
  transition: fill 0.2s ease-in-out;
}

.searchIcon:hover svg {
  color: #ffdd00; 
}

.rightNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid; */
  margin: -10 auto;
}

.rightNav img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #ffdd00;
  box-shadow: 2px 2px 10px #ffdd00a4;
}

.username {
  font-size: 12px;
  color: #333;
  font-weight: bold;
}

/* Animations */

.menuBar svg {
  animation: pulse 2s infinite;
}

.searchIcon svg {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* Navigation end */
/* Content area start */
.contentArea{
  display: flex;
  flex-direction: row;
  height: 300vh;
}
/* Content area end */
/* Sidebar */
.sidebar {
  background-color: '#fff';
  /* border-right: 1px solid #fff7cc; */
  position: relative;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 10px;
  align-items: center;
  box-shadow: 0 0 3px lightgray;
  height:88vh;

}
.menuItems{
  display: flex;
  flex-direction: column;
  width: 90%;
}
.menuItems span{
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}


ul li .menuLink{
  color: #000;
  font-weight: 500;
  font-size: 16px;
  padding-left: 15px;
  flex: 1;
}
ul .menuItem{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 20px;
  padding: 10px 20px;
  box-sizing: border-box;
}
ul .menuActive{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 20px;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #ffdd00;
  border-radius: 15px;
  box-shadow: 1px 1px 3px #f5f5f5;
}
ul .menuItem:hover{
  background-color: #fff7cc;
  border-radius: 15px;
  box-shadow: 1px 1px 3px #ffdd00;
}
.bottomMenu{
  width: 90%;
}
.mainContent{
  background-color: #fff;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;

}
.leftContent{
  flex: 1;
  overflow-y: scroll;
  background-color: '#fff';
  padding: 5px 30px;
}
.rightContent{
  min-width: 30%; 
  max-width: 30%;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 3px; 
}

::-webkit-scrollbar-track {
  background: gray; 
}


::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffdd00; 
}
